<!--<div *ngFor="let order of orders">-->
<!-- {{order.id}}-->
<!--  {{order.date  | date:'yyyy-MM-dd'}}-->
<!--  {{order.status}}-->
<!--  {{order.amount}}-->
<!--  {{order.items}}-->

<!--&lt;!&ndash;  {{order.customer}}&ndash;&gt;-->

<!--  <div *ngFor="let item of order.items">-->
<!--    {{item.id}}-->
<!--&lt;!&ndash;    {{item.quantity}}&ndash;&gt;-->



<!--  </div>-->
<!--</div>-->

<!--<mat-card>-->
<!--  <mat-card-title>Order List</mat-card-title>-->
<!--  <mat-card-content>-->
<!--    <mat-list>-->
<!--      <mat-list-item *ngFor="let order of orders">-->
<!--        <h3 mat-line>{{order.id}}</h3>-->
<!--        <h3 mat-line>{{order.date  | date:'yyyy-MM-dd'}}</h3>-->
<!--        <mat-list-item *ngFor="let item of order.item">-->
<!--          <h3 mat-line>{{item.title}}</h3>-->
<!--        </mat-list-item>-->
<!--        <a mat-button [routerLink]="['/order-detail',order.id]">Edit</a>-->
<!--      </mat-list-item>-->
<!--    </mat-list>-->
<!--  </mat-card-content>-->
<!--&lt;!&ndash;  <button mat-fab color="primary" [routerLink]="['/mycourse-add']">Add</button>&ndash;&gt;-->
<!--</mat-card>-->

<!--<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>-->
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
</mat-form-field>

<mat-toolbar>
  <span></span>
</mat-toolbar>
<table mat-table [dataSource]="orders" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let order"> {{order.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let order"> {{order.date  | date:'yyyy-MM-dd'}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let order"> {{order.status }} </td>
  </ng-container>

  <ng-container matColumnDef="customerId">
    <th mat-header-cell *matHeaderCellDef> Customer id </th>
    <td mat-cell *matCellDef="let order"> {{order.customer.id }} </td>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> Customer </th>
    <td mat-cell *matCellDef="let order"> {{order.customer.lastName }} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Product information </th>
    <td mat-cell *matCellDef="let order">{{order.items}}</td>
  </ng-container>

  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef> Notes </th>
    <td mat-cell *matCellDef="let order"> {{order.notes }} </td>
  </ng-container>

<!--  <ng-container matColumnDef="action">-->
<!--    <th mat-header-cell *matHeaderCellDef> Action </th>-->
<!--    <td mat-cell *matCellDef="let order" class="action-link">-->
<!--      <a mat-button color = "primary" [routerLink]="['/order-detail',order.id]">Edit</a>-->

<!--&lt;!&ndash;      <a (click)="openDialog('Update',element)">Edit</a> |&ndash;&gt;-->
<!--&lt;!&ndash;      <a (click)="openDialog('Delete',element)">Delete</a>&ndash;&gt;-->
<!--      <a (click)="done(order.id)">Done</a>-->
<!--    </td>-->
<!--    <a (click)="done(order.id)">Done</a>-->

<!--  </ng-container>-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let order" class="mat-button">
<!--        <a mat-button color="green" (click)="done(order.id)">Done</a>-->



  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
    <mat-button-toggle value="red" [routerLink]="['/order-detail',order.id]">edit</mat-button-toggle>
    <mat-button-toggle value="green" (click)="done(order.id)">done</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle>
  </mat-button-toggle-group>
      </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnToDisplay;"></tr>
</table>


<!--<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>-->


<table *ngFor="let order of orders">

  <tr *ngFor="let item of order.items;">

    <td>{{item.product.title}}</td>
<!--    <td>{{item.quantity}}</td>-->


  </tr>
</table>


