
  .mat-column-date
  {
    flex: 0 0 50%;
  }

  .mat-column-id
  {
    flex: 0 0 10%;
  }

  table {
    width: 100%;
  }
  .mat-list{
    padding: 10px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .demo-table {
    width: 100%;
  }

  .mat-column-description {
    /*width: 64px;*/
    flex: 9em;
    min-width: 9em;
    /*border-right: 1px solid currentColor;*/
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-id {
    flex: 9em;
    min-width: 0.5em;
    /*width: 8px;*/
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-customerId {
    width: 8px;
    /*border-right: 1px solid currentColor;*/
    /*border-left: 1px solid currentColor;*/
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-customerName {
    /*width: 8px;*/
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-action{
    flex: 9em;
    min-width: 0.5em;
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-date {
    /*width: 8px;*/
    /*border-right: 1px solid currentColor;*/
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }

  .mat-column-demo-weight {
    font-style: italic;
  }

  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }


