<!--<div *ngIf="order">-->

<!--  <h2>{{order.id | uppercase}} Details</h2>-->
<!--  <div><span>id: </span>{{order.id}}</div>-->
<!--  <div>-->
<!--    <label for="order-status">Order status: </label>-->
<!--    <input id="order-status" [(ngModel)]="order.status" placeholder="status">-->
<!--  </div>-->

<!--</div>-->


<mat-card>
  <form #orderForm="ngForm" (ngSubmit)="save(orderForm.value)">
<!--    <mat-card-title>{{order.id ? 'Edit' : 'Add'}}</mat-card-title>-->

    <mat-card-content>
      <input type = "hidden" name="href" [(ngModel)]="order.href"/>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="order.date"
         required name="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="order amount"  [(ngModel)]="order.amount"
               required name="amount" />
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="order status"  [(ngModel)]="order.status"
               required name="status" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="customer"  [(ngModel)]="order.customer.id"
               required name="customer" />
      </mat-form-field>
      {{order.customer.id}}
      {{order.customer.email}}
      <mat-form-field>
        <button mat-raised-button color="secondary" (click)="sendEmail(order.customer.id)"
                *ngIf="order.id" type="button">Send email</button>
      </mat-form-field>
<!--      <mat-form-field>-->
<!--        <textarea matInput placeholder="course description" [(ngModel)]="order.description"-->
<!--                  required name="description" /></textarea>-->
<!--      </mat-form-field>-->

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              *ngIf="!order.id"    [disabled]="!orderForm.valid">Save</button>



      <button mat-raised-button color="primary" (click)="update(order,order.id)"
              *ngIf="order.id" [disabled]="!orderForm.valid" type="button">Update</button>

      <button mat-raised-button color="secondary" (click)="remove(order.id)"
              *ngIf="order.id" type="button">Delete</button>



<!--      <button mat-raised-button color="secondary" (click)="remove(order.href)"-->
<!--      *ngIf="order.href" type="button">Delete</button>-->
<!--      <button mat-raised-button color="secondary" (click)="remove(order.id)"-->
<!--      type="button">Delete</button>-->

      <a mat-button routerLink="/order-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
  </form>

</mat-card>
