


<mat-card>

<!--  <mat-card-title>Order details | </mat-card-title>-->

  <form #orderForm="ngForm" (ngSubmit)="save(orderForm.value)">
<!--    <mat-card-title>{{order.id ? 'Edit' : 'Add'}}</mat-card-title>-->
    <mat-form-field class="orderDetail">
      <mat-card-subtitle>order status</mat-card-subtitle>
      <input matInput placeholder="order status"  [(ngModel)]="order.status" (keyup.enter)="update(order)"
             required name="status" />
    </mat-form-field>
    <mat-card-content>

      <input type = "hidden" name="href" [(ngModel)]="order.id"/>
<mat-form-field>
  <mat-card-subtitle>category</mat-card-subtitle>
  <mat-list>

<!--    <h4 matLine>item </h4>-->
    <mat-list-item *ngFor="let item of order.items, let order">
      <h4 matLine>{{item.product.title}}  </h4>
      <!--    <p matLine class="demo-2"> {{item.quantity}}  </p>-->
      <!--    <p matLine class="demo-2">{{item.product.price}} fr</p>-->
    </mat-list-item>
    <mat-divider></mat-divider>
<!--    <h4 matLine class="demo2"> total {{order.amount}}fr</h4>-->
    <mat-divider></mat-divider>
  </mat-list>
</mat-form-field>




      <mat-form-field>
        <mat-card-subtitle>quantity</mat-card-subtitle>
        <mat-list>

          <mat-list-item *ngFor="let item of order.items, let order">
            <h4 matLine>{{item.quantity}} pc. </h4>
          </mat-list-item>
          <mat-divider></mat-divider>
<!--          <h4 matLine class="demo2"> total {{order.amount}}fr</h4>-->
          <mat-divider></mat-divider>
        </mat-list>
      </mat-form-field>


      <mat-form-field>
        <mat-card-subtitle>price</mat-card-subtitle>
        <mat-list>
          <mat-list-item *ngFor="let item of order.items, let order">
            <h4 matLine>{{item.product.price}} fr </h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h4 matLine class="demo2"> total {{order.amount}}fr</h4>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-form-field>

      <mat-form-field>
        <mat-card-subtitle>actions</mat-card-subtitle>
        <mat-list>
          <mat-list-item *ngFor="let item of order.items, let order">
            <button mat-raised-button color="primary" type="submit"
                    *ngIf="!order.id"    [disabled]="!orderForm.valid"><mat-icon>update</mat-icon></button>
            <button mat-raised-button color="primary" type="submit"
                    *ngIf="!order.id"    [disabled]="!orderForm.valid"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
        </mat-list>
      </mat-form-field>




      <mat-form-field class="orderDetail">
        <mat-card-subtitle>customer</mat-card-subtitle>
        <input matInput placeholder="customer"  [(ngModel)]="order.customer.email"
               required name="customer" />
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
          <button mat-raised-button color="secondary" (click)="sendEmail(order.customer.id)"
                  *ngIf="order.id" type="button">Send email</button>
          </mat-list-item>
        </mat-list>
      </mat-form-field>





    </mat-card-content>

    <mat-card-actions>
<!--      <button mat-raised-button color="primary" type="submit"-->
<!--              *ngIf="!order.id"    [disabled]="!orderForm.valid">Save</button>-->

      <button mat-raised-button color="primary" (click)="done(order)"
        *ngIf="order.id" [disabled]="!orderForm.valid" type="button"><mat-icon>done</mat-icon></button>


      <button mat-raised-button color="secondary" (click)="remove(order.id)"
              *ngIf="order.id" type="button">delete</button>





      <button mat-raised-button  value="red" routerLink="/order-list">Cancel</button>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
  </form>






</mat-card>

